<h1><%= @weapon.title %></h1>
<p>Description: <%= @weapon.description %></p>
<p>Level: <%= @weapon.level %></p>
<p>Power Base: <%= @weapon.power_base %></p>
<p>Power Step: <%= @weapon.power_step %></p>
